:root {
  --primary-tex-color: #ffffff;
  --second-text-color: #959595;
  --bed-text-color: #ff5b5c;
  --accent-color: #db9351;
  --background-color: #151515;
  --bar-background-color: #1d1c1c;
  --active-background-color: #abdb51;
  --bottom-background-image: linear-gradient(60deg, #db9351 0%, #db8b42 100%);
  --text-background-image: linear-gradient(
    to right,
    rgba(21, 21, 21, 0) 0%,
    #151515 100%
  );
}
